[buildout]
always-checkout = force
auto-checkout +=
    collective.contact.core
    collective.contact.importexport
    collective.contact.plonegroup
    collective.contact.widget
    collective.eeafaceted.z3ctable
    collective.elephantvocabulary
    collective.js.tooltipster
    eea.facetednavigation
    imio.actionspanel
    imio.history
    imio.prettylink
    plone.formwidget.masterselect

[remotes]
imio = https://github.com/imio
imio_push = git@github.com:imio
plone = https://github.com/plone
plone_push = git@github.com:plone
ftw = https://github.com/4teamwork
ftw_push = git@github.com:4teamwork
zopefoundation = https://github.com/zopefoundation
zopefoundation_push = git@github.com:zopefoundation
zopesvn = svn://svn.zope.org/repos/main/
collective = https://github.com/collective
collective_push = git@github.com:collective
chris-adam = https://github.com/chris-adam
chris-adam_push = git@github.com:chris-adam

[sources]
# Plone 6 branches of the dependencies, not released yet
collective.contact.core = git ${remotes:collective}/collective.contact.core.git pushurl=${remotes:collective_push}/collective.contact.core.git branch=python3-chris-adam
collective.contact.importexport = git ${remotes:imio}/collective.contact.importexport.git pushurl=${remotes:imio_push}/collective.contact.importexport.git branch=plone61-chris-adam
collective.contact.plonegroup = git ${remotes:collective}/collective.contact.plonegroup.git pushurl=${remotes:collective_push}/collective.contact.plonegroup.git branch=python3-chris-adam
collective.contact.widget = git ${remotes:collective}/collective.contact.widget.git pushurl=${remotes:collective_push}/collective.contact.widget.git branch=python3-chris-adam
collective.eeafaceted.z3ctable = git ${remotes:imio}/collective.eeafaceted.z3ctable.git pushurl=${remotes:imio_push}/collective.eeafaceted.z3ctable.git branch=plone6_duchenean-chris-adam
collective.elephantvocabulary = git ${remotes:collective}/collective.elephantvocabulary.git pushurl=${remotes:collective_push}/collective.elephantvocabulary.git branch=plone5_py3
collective.js.tooltipster = git ${remotes:collective}/collective.js.tooltipster.git pushurl=${remotes:collective_push}/collective.js.tooltipster.git branch=plone61-chris-adam
eea.facetednavigation = git ${remotes:chris-adam}/eea.facetednavigation.git pushurl=${remotes:chris-adam_push}/eea.facetednavigation.git branch=develop-chris-adam
imio.actionspanel = git ${remotes:imio}/imio.actionspanel.git pushurl=${remotes:imio_push}/imio.actionspanel.git branch=plone6-chris-adam
imio.history = git ${remotes:imio}/imio.history.git pushurl=${remotes:imio_push}/imio.history.git branch=plone6-chris-adam
imio.prettylink = git ${remotes:imio}/imio.prettylink.git pushurl=${remotes:imio_push}/imio.prettylink.git branch=plone6-icon-names
plone.formwidget.masterselect = git ${remotes:collective}/plone.formwidget.masterselect.git pushurl=${remotes:collective_push}/plone.formwidget.masterselect.git branch=master
